.burger {
    align-items: center;
    background-color: #ffe109;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: bold;
    justify-content: center;
    margin: auto;
    height: 250px;
    text-align: center;
    width: 100%;

    @media (min-width: 500px) and (min-height: 400px) {
        height: 300px;
        width: 350px;
    }

    @media (min-width: 500px) and (min-height: 401px) {
        height: 400px;
        width: 450px;
    }

    @media (min-width: 1000px) and (min-height: 700px) {
        height: 550px;
        width: 650px;
    }
}

.message {
    color: #d03b00;
    font-weight: 800;
    margin: 20px 0;
}