.toolbar {
    height: 80px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;

    .container {
        align-items: center;
        background-color: #ff3f09;
        border-bottom: 8px solid #e23708;
        color: #fff;
        display: flex;
        height: 100%;
        justify-content: space-between;
        padding: 0 20px;
    }

    .mainNav {
        height: 100%;

        @media (max-width: 1200px) {
            display: none;
        }
    }

    .logo {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        left: 50%;
        position: absolute;
        top: 0;
        transform: translateX(-50%);
    }
}