.button {
    background-color: #ffe109;
    border: 1px solid #e23708;
    color: #e23708;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 800;
    outline: none;
    padding: 6px 10px;

    &:hover {
        background-color: #fae863;
    }
}

.cancel {
    background-color: #e23708;
    border: 1px solid #bb2d05;
    color: #fff;
    margin-right: 5px;

    &:hover {
        background-color: #f75a2f;
    }
}

.icon {
    background: none;
    border: none;
    color: #fff;
    margin: 0;
    padding: 4px 6px;

    i {
        font-size: 2.5rem;
    }

    &:hover {
        background-color: #e23708;
    }
}

