.orderSummary {
    .checkout {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }

    h3 {
        margin: 0;
    }
}

.priceInfo {
    align-items: center;
    display: flex;
    font-size: 1.1rem;
}

.priceLabel {
    font-weight: 700;
    margin-right: 10px;
}

.price {
    color: #26b626;
    font-weight: 700;
}