.contactData {
    margin: 20px auto;
    width: 80%;

    @media (min-width: 600px) {
        width: 900px;
    }
}

.contactForm {
    border: 1px solid #cacaca;
    padding: 20px;

    .formRow {
        align-items: center;
        display: flex;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    .formControl {
        display: flex;
        flex-flow: column wrap;
        width: 50%;

        &.btnControl {
            flex-flow: row wrap;
            justify-content: flex-end;
            width: 100%;
        }
    }
}